<h2 class="title is-4">Production Companies</h2>

<ol class="ml-5">
  <% @production_companies.each do |production_company| %>
    <% render partial: 'production_company', object: production_company %>
    <% render production_company %>
  <% end %>

  <% render partial: 'production_company', collection: @production_companies %>

  <%= render @production_companies %>
</ol>