<% content_for(:html_title) { @production_company.name } %>

<h2 class="title is-4"><%= @production_company.name %></h2>

<p class="mb-5">
  This production company produced <%= @production_company.movies.count %> of the top 100 movies.
</p>

<h3 class="title is-5">Movies Made by <%= @production_company.name %></h3>

<ul>
  <% @production_company.movies.each do |movie| %>
    <li><%= link_to movie.title, movie %></li>
  <% end %>
</ul>