<footer>
  <p>Copywrong IMDB 2020</p>
  <h4 class="title is-6 mt-5">Menu</h4>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Top 100 Movies', movies_path %></li>
    <li><%= link_to 'Top Production Companies', production_companies_path %></li>
  </ul>
</footer>